EXPO_PUBLIC_API_URL=https://sea-lion-app-a2j4f.ondigitalocean.app

# Sentry — pega aquí la DSN del proyecto Zyfit-mobile cuando esté creado
EXPO_PUBLIC_SENTRY_DSN=
EXPO_PUBLIC_SENTRY_ENVIRONMENT=production
